# Hola mundo en python

vamos a ejecutar el clásico hola mundo en python usando jupyter lab

In [2]:
print ("Hola mundo de Python desde CDMX")

Hola mundo de Python desde CDMX

In [7]:
## Calcular el volumen de un cubo  
## V = L x L x L

In [8]:
L = 50 
V = L * L * L
V

125000

# calcular el volumen de una esfera de radio 80

In [28]:
v = 80 * 3.141592

In [13]:
#  V 4 / 3  pi * R  / 3

In [29]:
Pi = 3.141592
R = 80
V = 4 / 3 * Pi * R ** 3
V

2144660.1386666666

# Generar la tabla de multiplicar 3

In [36]:
n = 3 

print ("{:3} x {:3} = {:4}". format(n, 1, n*1))
print ("{:3} x {:3} = {:4}". format(n, 2, n*1))
print ("{:3} x {:3} = {:4}". format(n, 3, n*1))
print ("{:3} x {:3} = {:4}". format(n, 4, n*1))
print ("{:3} x {:3} = {:4}". format(n, 5, n*1))
print ("{:3} x {:3} = {:4}". format(n, 10, n*1))
print ("{:3} x {:3} = {:4}". format(n, 100, n*1))

  3 x   1 =    3
  3 x   2 =    3
  3 x   3 =    3
  3 x   4 =    3
  3 x   5 =    3
  3 x  10 =    3
  3 x 100 =    3

# generar la tabla de multiplicar del 11

In [14]:
n= 3
for i in range (1,12) :
    print ("{:3} x {:3} = {:4}" .format (n, i, n*i))

  3 x   1 =    3
  3 x   2 =    6
  3 x   3 =    9
  3 x   4 =   12
  3 x   5 =   15
  3 x   6 =   18
  3 x   7 =   21
  3 x   8 =   24
  3 x   9 =   27
  3 x  10 =   30
  3 x  11 =   33

# Ciclo for en python, range

In [2]:
n= 12 
for i in range (1,11) :
    print ("{:3} x {:3} = {:4}" .format (n, i, n*i))

 12 x   1 =   12
 12 x   2 =   24
 12 x   3 =   36
 12 x   4 =   48
 12 x   5 =   60
 12 x   6 =   72
 12 x   7 =   84
 12 x   8 =   96
 12 x   9 =  108
 12 x  10 =  120

# Reto ; fizzbuzz.py 

muestra en pantalla los números del 1 al 20, sustituyendo los multiplos de 3 por la palabra "fizz" y, a su vez, los múltiplos de 5 por "Buzz". Para los números que, al tiempo, son múltiplos de 3 y 5, y utiliza el combinado "Fizz Buzz"

2